<div class="container " style="margin-top: 20px;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Deparment id</th>
            <th scope="col">Department Name</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of departments">
            <td >{{department.deptid}}</td>
            <td>{{department.deptname}}</td>
            <td>{{department.loc}}</td>
           
          </tr>
        </tbody>
    </table>
    </div>
    <button class="btn btn-primary" (click)="addDepartment()">Add New Department</button>
