<div class="container " style="margin-top: 20px;">
    <table class="table">
        <thead>
          <tr>
           
            <th scope="col">Product id</th>
            <th scope="col">Product Name</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productcategorys" >
            <td >{{product.categoryId}}</td>
            <td>{{product.categoryname}}</td>
           
           
          </tr>
        </tbody>
    </table>
    </div>
    
