<div class="container " style="margin-top: 20px;">
    <table class="table">
        <thead>
          <tr>
           
            <th scope="col">Product id</th>
            <th scope="col">Product Name</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productcategory of productcategorys" >
            <td >{{productcategory.categoryid}}</td>
            <td>{{productcategory.categoryname}}</td>
           
           
          </tr>
        </tbody>
    </table>
    </div>
    
